html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(../frontend/assets/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
}

#root {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 8px;
  }
}
